<div class="bs-callout bs-callout-info">
	<h4>Important</h4>
	<%= render partial: 'guidelines_notice_body' %>
</div>

<div class="page-header" style='margin-top: 0;'>
  <h1>New Event</h1>
</div>

<%= render partial: 'layouts/notice', locals: {type: @type} %>

<%= render partial: 'guidelines_notice' %>

<%= render 'form' %>

<%= link_to 'Back', events_path, :class => 'btn btn-link' %>
