<%= paginate @events if @events %>

<div id="event-show">
  <%= render partial: 'layouts/notice', locals: {type: @type} %>
  <div id="notice"></div>

  <h2 class="pull-left">
    <%= @event.name %>
  </h2>
  
  <%= render 'layouts/thumbs' %>

  <div class="clearfix"></div>

  <div class="media">

    <% if @event.image_url %>
        <div class="pull-left" id="theater">
          <a href="<%= @event.image_url %>" target="_blank">
            <img src="<%= @event.image_url %>?<%= Time.now.to_i %>"
                 alt="<%= @event.name.upcase %>"
                 class="media-object img-thumbnail img-responsive " style="max-width: 400px;"/>
          </a>
        </div>
    <% end %>

    <div class="media-body">
      <h4 class="media-heading">Details</h4>
      <%= @event.details %>

      <hr/>

      <h4 class="media-heading">Place</h4>
      <%= @event.place %>

      <hr/>

      <h4 class="media-heading">From</h4>
      <%= @event.from.to_formatted_s(:date_time_weekday) %>

      <hr/>

      <h4 class="media-heading">To</h4>
      <%= @event.to.to_formatted_s(:date_time_weekday) %>
    </div>
  </div>
  <div class="clearfix"></div>

  <hr/>


  <% if admin? %> 
      <%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-link' %> |
  <% end %>
<%= link_to 'Back', events_path, :class => 'btn btn-link' %>
</div>